<p id="notice"><%= notice %></p>


 <br>

<br>

<table>
  <thead>
    <tr>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <div  class = "container">
  <div class ="gridthumbs">
    <% @portfolios.each do |portfolio|%>




    <% image_tag portfolio.thumb_image %>
        <p><%portfolio.title %></p>




        <%= link_to portfolio_path(portfolio) do %>

            <%= image_tag portfolio.thumb_image %>


            <p><%portfolio.subtitle %></p>
            <p><%portfolio.content %></p>

        <% end %>

        <% if portfolio.sketch %>







        <p><strong> <%= link_to 'Show', portfolio %></strong></p>
        <p><% link_to 'Edit', edit_portfolio_path(portfolio) %></p>
        <p><% link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></p>


        </div>
      </div>
      <% end %>
    <% end %>

  </tbody>

  </table>

<br>

<% link_to 'New Project', new_portfolio_path %>
