body {
  padding-left: 1px;
  margin: 0;
  align-items: center;
  background-color: #384146;
  color: white;
  font-family: 'Orbitron', sans-serif;

}

header {
  display:block;
  text-align: right;
  font-family: 'Tomorrow', sans-serif;
  text-emphasis-color: white;
  word-spacing: 20px;
  font-size: 15px;
  background-color:#384146;
  padding-right: 112px;
  padding-top: 12px;
}








h1{
    text-align:left;
    font-size: 20px;
    padding-bottom: 18px;
    padding-left: 125px;
}



.name {
    text-align: left;
    padding-left: 125px;
    font-size: 55px;
    word-spacing: 8px;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;


}
.container{
      display: block;
      margin:auto;
      width: 100%;
      padding: 30px;
          }




.hr{
      width:84%;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }

.top{
      font-size: 35px;
      text-align: center;
    }



.main_image {
      overflow:hidden;
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: 3px dark grey;
      padding: 5px;

}




li {
    display: inline;

}

a:link {
    text-decoration: none;
    text-decoration-color: white;

}

a:visited {
    color: white;
    text-decoration-color: white;

}

a:hover {

  color: white;

  text-decoration: underline;
  text-decoration-color: white;
  border-bottom: 4px solid white;

}

a:active {
  text-decoration: underline;
  text-decoration-color: green;
  border-bottom: 10px solid white;


}


footer{
  margin-left: 120px;
  margin-right: 120px;
  background-color: #384146;



}


.hr2{
    width:84%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.clearfix{
  clear: both;
}

h3{
    display: inline-flex;
    flex-direction: row;
    padding-left: 125px;
    font-size: 18px;
    word-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;


}


.pagestxt{
    text-align: left;
    padding-left: 125px;
    margin-right: 120px;
    font-size: 18px;
    font-family: 'Tomorrow', sans-serif;
}

.shreel{

    width: 84%;
    height: auto;
    display: flex;
    margin: auto;
    object-fit: cover;
}


  .contact{
    display: inline-block;
    content: inherit;
    text-align: justify;
    padding-left: 125px;
    font-family: 'Tomorrow', sans-serif;

}


.icons{
    position: relative;
    float: right;
    word-spacing: 12px;


}
  iframe {
    float:right;
    border:none;
    width: 1570px;
    height:500px;
    z-index: 0;

}


.topflow{

  display:flex;
}

  .column {
  flex:50%;
  padding:5px;


}

.gridthumbs{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: center;
    justify-content:center;
    align-items: center;

        }
