
body {

  margin: auto;
  width: 1440px;
  background-color: #3e465c;
  color: white;
  font-family: 'Orbitron', sans-serif;
  align-items: center;
  align-content: space-between;
  border: 13px  black;
}

header {
  display:block;
  text-align: right;
  font-family: 'Tomorrow', sans-serif;
  text-emphasis-color: white;
  word-spacing: 20px;
  font-size: 15px;
  background-color:#3e465c;
  padding-right: 112px;
  padding-top: 12px;
}

h1{
  text-align:left;
  font-size: 20px;
  padding-bottom: 18px;
  padding-left: 125px;
}

name {
  border: red;
  text-align: left;
  padding-left: 125px;
  font-size: 55px;
  word-spacing: 8px;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;

}
.container{
  display: block;
  margin:auto;
  width: 100%;
  padding: 30px;
}

.hr{
  width:84%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
    }

.top{
  font-size: 35px;
  text-align: center;
    }



.main_image {
  overflow:hidden;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 3px dark grey;
  padding: 5px;

}




li {
    display: inline;

}

a:link {
    text-decoration: none;
    text-decoration-color: white;

}

a:visited {
    color: white;
    text-decoration-color: white;

}

a:hover {

  color: white;

  text-decoration: underline;
  text-decoration-color: white;
  border-bottom: 4px solid white;

}

a:active {
  text-decoration: underline;
  text-decoration-color: green;
  border-bottom: 10px solid white;


}


footer{
  margin-left: 120px;
  margin-right: 120px;
  background-color: #3e465c;



}


.hr2{
    display: block;
    width:84%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}



h3{
    display: block;

    padding-left: 125px;
    font-size: 18px;
    word-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;


}


.pagestxt{
  text-align: left;
  padding-left: 125px;
  margin-right: 120px;
  font-size: 18px;
  font-family: 'Tomorrow', sans-serif;
}

.shreel{
  width: 84%;
  height: auto;
  display: flex;
  margin: auto;
  object-fit: cover;
}


.contact{
  display: inline-block;
  content: inherit;
  text-align: justify;
  padding-left: 125px;
  font-family: 'Tomorrow', sans-serif;

}


.icons{
  position: relative;
  float: right;
  word-spacing: 12px;
}

iframe {
  display:block;
  margin: auto;
  border: none;
  width: 1570px;
  height:450px;
  z-index: 0;


}

.column {
  flex:50%;
  padding:5px;
}



.thumbs__container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-content:center;
  justify-content:center;

}

.gridthumbs{

  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;
  align-self: center;
  align-content: center;
  max-width: 1300px;
  margin-left: 13px;
}



.thumbs_space{
  color:#3e465c

  }
