body {
  padding-left: 1px;
  align-items: center;
  background-color: #29303b;
  color: white;
  font-family: 'Orbitron', sans-serif;

}

header {
  display:block;
  text-align: right;
  font-family: 'Tomorrow', sans-serif;
  text-emphasis-color: white;
  word-spacing: 20px;
  font-size: 15px;
  background-color:#2a2c3c;
  padding-right: 112px;
  padding-top: 12px;
}


.barcode {
  text-align: left;
  font-size: 60px;
  font-family: 'Libre Barcode 128', cursive;
  word-spacing: 20px;
  padding-left: 125px;

}


h1{
    text-align:left;
    font-size: 20px;
    padding-bottom: 18px;
    padding-left: 125px;
}



.name {
    text-align: left;
    padding-left: 125px;
    font-size: 55px;
    word-spacing: 8px;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;


}
.container{
      margin: auto;
      width: 100%;
      padding: 5px;
  }


.gridthumbs{

      overflow: hidden;
      display: flex;
      margin: auto;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      }


.hr{

  margin-left: 120px;
  margin-right: 109px;


}

.top{
      font-size: 35px;
      text-align: center;

    }



.main_image {
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 3px dark grey;
    padding: 5px;

}




li {
  display: inline;

}

a:link {
  text-decoration: none;
  text-decoration-color: white;

}

a:visited {
  color: grey;
  text-decoration-color: white;

}

a:hover {

  color: white;

  text-decoration: underline;
  text-decoration-color: white;
}

a:active {
  text-decoration: underline;
  text-decoration-color: green;


}


footer{
  margin-left: 120px;
  margin-right: 120px;
  background-color: #29303b;
  media:


}


.hr2{
  margin-left: 120px;
  margin-right: 120px;


}
h3{

  text-align: left;
  padding-left: 125px;
  font-size: 18px;
  word-spacing: 2px;
  font-family: 'Orbitron', sans-serif;

}


.pagestxt{
  text-align: left;
  padding-left: 125px;
  margin-right: 120px;
  font-size: 18px;
  font-family: 'Tomorrow', sans-serif;
}

.shreel{

    width: 84%;
    height: auto;
    display: flex;
    margin: auto;

    object-fit: cover;
}


  .contact{
    display: inline-block;
    content: inherit;
    text-align: justify;
    padding-left: 125px;
    font-family: 'Tomorrow', sans-serif;

}


.icons{

    display: flex;
    justify-content:space-between;
    padding-left: 982px;

}
  /* display: flex; */
